@page "/Help"
<h3>Help</h3>
<div class="rounded-2 alert-light p-3 mt-5 mb-5" style="border: gray 1px solid;">
    <h4>Dokumentation</h4>
    <p>&nbsp;</p>
    <p>
    An dieser Stelle wird künftig die Dokumentation zu finden sein.
    </p>
</div>
@code {
    
}