@page "/"

<PageTitle>Home</PageTitle>

<h3>TimeGlideVR Administration</h3>

<div class="rounded-2 alert-light p-3 mt-5 mb-5" style="border: gray 1px solid;">
    <h4>Willkommen</h4>
    <p>&nbsp;</p>
    <p>
    Dies ist die Administration Oberfläche zur Verwaltung der
    TimeGlideVR Anwendung.
    </p>
</div>


