@page "/Inventory"
<h3>Inventar</h3>
<div class="rounded-2 alert-light p-3 mt-5 mb-5" style="border: gray 1px solid;">
    <h4>Inventar Verwaltung</h4>
    <p>&nbsp;</p>
    <p>An dieser Stelle können Sie künftig das virtuelle "Inventar" des Museums verwalten.</p>
    <p>Dazu gehört das Anlegen von Zeitreihen, das Hinzufügen von Medien (Bilder, Videos, Texte) und die Gestaltung von Räumen.</p>
</div>
@code {
    
}