@page "/User"
<h3>Benutzer</h3>
<div class="rounded-2 alert-light p-3 mt-5 mb-5" style="border: gray 1px solid;">
    <h4>Benutzerverwaltung</h4>
    <p>&nbsp;</p>
    <p>An dieser Stelle können Sie künftig die Rechte von Benutzern verwalten.</p>
    <p>So können verschiedene Personen bei der Erweiterung des "Inventars" helfen.</p>
</div>
@code {
    
}